@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #016db5;
  color: #fdfefd;
  max-width: 30rem;
  height: 100%;
  box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}
